<%- include("partials/header") -%>

<h1>Compose</h1>

<form action="/compose" method="post">
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Title</span>
    <input type="text" class="form-control" name="posttitle" aria-describedby="basic-addon1">
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Post</span>
    <textarea type="text" class="form-control" name="postdescription" aria-describedby="basic-addon1" rows="4"></textarea>
  </div>
  <div class="input-group">
    <button class="btn btn-primary" type="submit">Publish</button>
  </div>
</form>

<%- include("partials/footer") -%>
